# Python specific
__pycache__/
*.pyc
*.pyo

# IDE specific
.vscode/

# Environment variables and credentials
*.credentials.json
token.pickle

# Databases
emails.db

# Virtual environment
.venv/

# Zsh configuration
.zshrc
